In [1]:
import pandas as pd

In [ ]:
DATA_PATH = '/data/data1/'
DATA_TAXI_GPS = DATA_PATH+'taxiGps/'

In [ ]:
COLUMN_2018_04_29 = ['GPS_TIME','SPEED','DIRECTION','LONGITUDE','LATITUDE','RUNNING_STATUS','CARNO']
LINE = ['2018/4/29 10:16:53', '0', '302', '0', '0', '0', '902156d4cfc55990ae3b84b5464f7379']
DATE_FORMAT = '2018/4/29 10:16:53'

In [ ]:
df_taxi_gps = pd.read_csv(DATA_TAXI_GPS+'taxiGps20180429-00-12.csv')

In [8]:
pd.read_csv('data/GPS_Taxi.csv').head(1)

,车牌号,定位时间,经度,纬度,坐标系（1：GCJ-02标准\n2：WGS84 GPS标准\n3：BD-09 百度标准\n4：CGCS2000 北斗标准\n0：其他）,方向角,海拔高度,GPS速度,运营状态（1：载客;2：接单;3：空驶; 4：停运）,订单号
0,VEHICLE_NO,POSITION_TIME,LONGITUDE,LATITUDE,ENCRYPT,DIRECTION,ELEVATION,SPEED,BIZ_STATUS,ORDER_ID

In [21]:
df = pd.read_csv('data/GPS_Taxi.csv',header=[1])
df.columns = ['CARNO', 'GPS_TIME', 'LONGITUDE', 'LATITUDE', 'ENCRYPT', 
                'DIRECTION', 'ELEVATION', 'SPEED', 'RUNNING_STATUS', 'ORDER_ID']

In [22]:
df

,CARNO,GPS_TIME,LONGITUDE,LATITUDE,ENCRYPT,DIRECTION,ELEVATION,SPEED,RUNNING_STATUS,ORDER_ID
0,2898,2019-07-07 00:01:00,118.117240,24.477464,1.0,0.0,0.0,4.0,1.0,B190702082943203000
1,22507,2019-07-07 00:01:00,118.173686,24.471188,1.0,0.0,15.0,49.0,3.0,0
2,2560,2019-07-07 00:01:00,118.121172,24.476696,1.0,0.0,8.0,50.0,1.0,B190706232424187000
3,0J32,2019-07-07 00:00:40,118.152479,24.439077,1.0,0.0,20.0,45.0,1.0,P190706211102069001
4,3K88,2019-07-07 00:00:40,118.186355,24.502938,1.0,0.0,0.0,32.0,1.0,P190627083949068002
...,...,...,...,...,...,...,...,...,...,...
1003,22507,2019-07-07 00:02:00,118.170791,24.473026,1.0,0.0,19.0,2.0,3.0,0
1004,1Z13,2019-07-07 00:02:00,118.038247,24.450592,1.0,0.0,15.0,2.0,3.0,0
1005,0J32,2019-07-07 00:01:40,118.148715,24.433635,1.0,0.0,9.0,50.0,1.0,P190706211102069001
1006,7X67,2019-07-07 00:01:40,117.998287,24.520052,1.0,0.0,9.0,26.0,3.0,0
1007,5F80,2019-07-07 00:01:40,118.137650,24.525098,1.0,0.0,0.0,16.0,3.0,0

## 处理时间round

In [23]:
df['GPS_TIME'] = pd.to_datetime(df['GPS_TIME'])
df.head(3)

,CARNO,GPS_TIME,LONGITUDE,LATITUDE,ENCRYPT,DIRECTION,ELEVATION,SPEED,RUNNING_STATUS,ORDER_ID
0,2898,2019-07-07 00:01:00,118.117240,24.477464,1.0,0.0,0.0,4.0,1.0,B190702082943203000
1,22507,2019-07-07 00:01:00,118.173686,24.471188,1.0,0.0,15.0,49.0,3.0,0
2,2560,2019-07-07 00:01:00,118.121172,24.476696,1.0,0.0,8.0,50.0,1.0,B190706232424187000

In [24]:
#15*round((float(dt.minute) + float(dt.second)/60) / 15
import datetime
t_df = df
t_df['GPS_TIME'] = t_df['GPS_TIME'].apply(
    lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour, dt.minute)
)
t_df

,CARNO,GPS_TIME,LONGITUDE,LATITUDE,ENCRYPT,DIRECTION,ELEVATION,SPEED,RUNNING_STATUS,ORDER_ID
0,2898,2019-07-07 00:01:00,118.117240,24.477464,1.0,0.0,0.0,4.0,1.0,B190702082943203000
1,22507,2019-07-07 00:01:00,118.173686,24.471188,1.0,0.0,15.0,49.0,3.0,0
2,2560,2019-07-07 00:01:00,118.121172,24.476696,1.0,0.0,8.0,50.0,1.0,B190706232424187000
3,0J32,2019-07-07 00:00:00,118.152479,24.439077,1.0,0.0,20.0,45.0,1.0,P190706211102069001
4,3K88,2019-07-07 00:00:00,118.186355,24.502938,1.0,0.0,0.0,32.0,1.0,P190627083949068002
...,...,...,...,...,...,...,...,...,...,...
1003,22507,2019-07-07 00:02:00,118.170791,24.473026,1.0,0.0,19.0,2.0,3.0,0
1004,1Z13,2019-07-07 00:02:00,118.038247,24.450592,1.0,0.0,15.0,2.0,3.0,0
1005,0J32,2019-07-07 00:01:00,118.148715,24.433635,1.0,0.0,9.0,50.0,1.0,P190706211102069001
1006,7X67,2019-07-07 00:01:00,117.998287,24.520052,1.0,0.0,9.0,26.0,3.0,0
1007,5F80,2019-07-07 00:01:00,118.137650,24.525098,1.0,0.0,0.0,16.0,3.0,0

## 按小时的GPS数据条数

In [27]:
t_df.groupby('GPS_TIME')['LONGITUDE'].count()

GPS_TIME
2019-07-07 00:00:00    694
2019-07-07 00:01:00    194
2019-07-07 00:02:00    120
Name: LONGITUDE, dtype: int64

In [ ]:
import pandas as pd
import datetime

DATA_PATH = '/data/'
DATA_TAXI_GPS = DATA_PATH+'taxiGps/'
# DATA_FILE_NAME = 'taxiGps20180501-00-12.csv'
DATA_FILE_NAME = 'taxiGps20180501-12-24.csv'


df = pd.read_csv(DATA_TAXI_GPS+DATA_FILE_NAME)
df.dropna(subset=['GETON_LONGITUDE', 
                  'GETON_LATITUDE', 
                  'GETOFF_LONGITUDE', 
                  'GETOFF_LATITUDE',
                  'PASS_MILE',
                  'CAR_NO'], inplace=True)



df['GPS_TIME'] = pd.to_datetime(df['GPS_TIME'])

t_df = df
t_df['GPS_TIME'] = t_df['GPS_TIME'].apply(
    lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour)
)
print(t_df.groupby('GPS_TIME')['LONGITUDE'].count())

## 空载

### 按车辆排序

In [ ]:
df.groupby('CARNO')

In [ ]:
### 按